.container {
    width: 100%;
    text-align: left;
}

.phonenumberInput {
    width: 100%;
}

.tooltip {
    margin-left: 5px;
}

.inlineField {
    display: inline-block;
    _display: inline;
}

.infoIcon {
    align-self: center;
}
