@import "~coreStylesheet";

.toTop {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: $primary-color;
    color: #ffffff !important;
    text-align: center;
    font-size: 14px !important;
}

.content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
