.customProgressBar {
  background-color: #9b9595a1;
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  div {
    z-index: 100000;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 0;
    right: 0;
  }
}

