.hidingBarWrapper {
  flex-direction: column;
  justify-content: center;
  margin-right: 8px;
}

.avatarItem {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  border-radius: 50%;
  overflow: hidden;
}

.hiddenItemCount {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 4px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.avatarList {
  display: flex;
}

.lastImageWrapper {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
}

.lastImageBlur {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  background-color: #8f8d8d;
}

.defaultAvatarIcon {
  font-size: 32px;
  margin-right: 4px;
}

.lastIconBlur {
  font-size: 32px;
  margin-right: 4px;
  background-color: #8f8d8d;
}
