@import "../../stylesheets/constants";

$headerHeigh: 64px;
$inactiveColor: #e1e1e1;

.sider {
    background: #f2f2f2;
    border-right-style: solid;
    border-right-color: #eee;
    margin-top: $headerHeigh;
}

.content {
    background: #fff;
    padding: 24px;
    margin: 0;
    min-height: 640px;
    margin-top: $headerHeigh;

    @include mobile-devices {
        padding: 2px;
    }
}

.collapse {
    margin: -20px -30px;
    float: left;
    z-index: 1;
    background: $inactiveColor;
    border-color: $inactiveColor;

    &:focus {
        background: $inactiveColor;
        border-color: $inactiveColor;
    }

    &:hover {
        background: $primary-color;
    }
}

.customLink {
    color: #262626 !important;
    transition: color 0.3s;

    &:hover {
        color: $primary-color !important;
    }
}
