.commentContainer {
  border-bottom: 1px solid #b8b8b8;
}
.headerToolTip {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px 10px;
}

.commentContent {
  padding: 5px 10px;
  color: #ffffff;
}