{% extends "admin/base_site.html" %}

{% block content %}

<form id="batch_payment_form" action="/admin/batch_payment/" method="POST">
    {% csrf_token %}
    <label class="required" for="company_id">Company:</label>
    <select id="company_id" name="company_id" required>
        <option value="" selected>---------</option>
        {% for key, value in data.items %}
            <option value={{ value.company.id }}>{{ value.company.name }}</option>
        {% endfor %}
    </select>
    <button id="form_button" type="submit" class="button" >実行</button>
</form>

<p>Plan</p>
<table class="payment_info_table">
    <thead>
        <th>ID</th>
        <th>COMPANY ID</th>
        <th>COMPANY NAME</th>
        <th>CREATED USER</th>
        <th>CREATED TIME</th>
        <th>MODIFIED USER</th>
        <th>MODIFIED TIME</th>
        <th>PLAN MASTER</th>
        <th>EXPIRATION TIME</th>
        <th>IS ACTIVE</th>
        <th>PAYMENT DATE</th>
    </thead>
    <tbody>
        {% for key, value in data.items %}
            {% for p in value.plan %}
                <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.company.id }}</td>
                <td>{{ p.company.name }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.plan_master }}</td>
                <td>{{ p.expiration_time }}</td>
                <td>{{ p.is_active }}</td>
                <td>{{ p.payment_date }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<p>PlanPaymentError</p>
<table class="payment_info_table">
    <thead>
        <th>ID</th>
        <th>COMPANY ID</th>
        <th>COMPANY NAME</th>
        <th>CREATED USER</th>
        <th>CREATED TIME</th>
        <th>MODIFIED USER</th>
        <th>MODIFIED TIME</th>
        <th>PLAN</th>
    </thead>
    <tbody>
        {% for key, value in data.items %}
            {% for p in value.plan_payment_error %}
                <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.company.id }}</td>
                <td>{{ p.company.name }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.plan }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<p>PurchaseHistory</p>
<table class="payment_info_table">
    <thead>
        <tr>
        <th>ID</th>
        <th>COMPANY ID</th>
        <th>COMPANY NAME</th>
        <th>CREATED USER</th>
        <th>CREATED TIME</th>
        <th>MODIFIED USER</th>
        <th>MODIFIED TIME</th>
        <th>PERIOD START</th>
        <th>PERIOD END</th>
        <th>PLAN</th>
        <th>ADDON IDS</th>
        <th>ADDITIONAL OPTIONS</th>
        <th>CARD LAST4</th>
        <th>PRICE</th>
        <th>METHOD</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in data.items %}
            {% for p in value.purchase_history %}
                <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.company.id }}</td>
                <td>{{ p.company.name }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.period_start }}</td>
                <td>{{ p.period_end }}</td>
                <td>{{ p.plan }}</td>
                <td>{{ p.addon_ids }}</td>
                <td>{{ p.additional_options }}</td>
                <td>{{ p.card_last4 }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.method }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = $.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $("#company_id").change(function(event) {
        var id = $("#company_id").val()
        $(".payment_info_table > tbody > tr").each(function(index , tr){
            if (id.length === 0 || $(tr).find('td:contains('+id+')').length !== 0) {
                $(tr).show()
            } else {
                $(tr).hide()
            }
        });
    });

    $("#batch_payment_form").submit(function(event) {
        if (!window.confirm("支払処理を実行します。よろしいですか？")) {
            return false
        }
        event.preventDefault();
        var form = $(this);
        // エラー表示が存在する場合は削除
        $('.errornote').remove();
        // 処理開始を表示
        $('#content').before('<ul class="messagelist"><li>処理実行中です</li></ul>');
        // 連打対策のため、ボタンの非活性化
        $("#form_button").prop("disabled", true);
        $.ajax({
             url: form.prop("action"),
             type: form.prop("method"),
             data: {
                 'company_id': $('#company_id').val(),
             },
             timeout: 30000,
        })
        .done(function(data) {
            $('.messagelist').append('<li>処理成功しました</li>');
            // 1秒待ってからHome画面に遷移する
            setTimeout(function(){
                window.location.href = '/admin/';
            }, 1000);
        })
        .fail(function() {
            // ボタン活性化
            $("#form_button").prop("disabled", false);
            // 処理開始のメッセージ削除
            $('.messagelist').remove();
            // エラーを表示する
            $("#batch_payment_form").before('<p class="errornote">サーバー側でエラーが発生しました。</p>')
        });
    });
</script>

{% endblock %}