{% extends "admin/base_site.html" %}

{% block content %}
<form id="select_company_form" action="/admin/display_other_group_models/" method="GET">
    <label class="required" for="company_id">Company:</label>
    <select id="company_id" name="company_id" required>
        <option value="" {% if selected_id == "" %} selected {% endif %} >---------</option>
        {% for company in data.companies %}
            <option value={{ company.id }} {% if company.is_selected %} selected {% endif %}>{{ company.name }}</option>
        {% endfor %}
    </select>
    <button id="form_button" type="submit" class="button" >更新</button>
</form>

{% if selected_id != "" %}

{% if data.Company %}
<div id="Company">
    <h2>Company</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>NAME</th>
            <th>DOMAIN NAME</th>
            <th>ADDRESS</th>
            <th>BUILDING</th>
            <th>CAPITAL MAN YEN</th>
            <th>ESTABLISHMENT DATE</th>
            <th>HAS P MARK OR ISMS</th>
            <th>HAS INVOICE SYSTEM</th>
            <th>HAS HAKEN</th>
            <th>HAS DISTRIBUTION</th>
            <th>EMPLOYEE NUMBER</th>
            <th>CAPITAL MAN YEN REQUIRED FOR TRANSACTIONS</th>
            <th>ESTABLISHMENT YEAR</th>
            <th>P MARK OR ISMS</th>
            <th>INVOICE SYSTEM</th>
            <th>HAKEN</th>
            <th>DEACTIVATED_TIME</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.Company.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.domain_name }}</td>
                <td>{{ p.address }}</td>
                <td>{{ p.building }}</td>
                <td>{{ p.capital_man_yen }}</td>
                <td>{{ p.establishment_date }}</td>
                <td>{{ p.has_p_mark_or_isms }}</td>
                <td>{{ p.has_invoice_system }}</td>
                <td>{{ p.has_haken }}</td>
                <td>{{ p.has_distribution }}</td>
                <td>{{ p.employee_number }}</td>
                <td>{{ p.capital_man_yen_required_for_transactions }}</td>
                <td>{{ p.establishment_year }}</td>
                <td>{{ p.p_mark_or_isms }}</td>
                <td>{{ p.invoice_system }}</td>
                <td>{{ p.haken }}</td>
                <td>{{ p.deactivated_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if data.Plan %}
<div id="Plan">
    <h2>Plan</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>PLAN MASTER</th>
            <th>EXPIRATION TIME</th>
            <th>IS ACTIVE</th>
            <th>PAYMENT DATE</th>
        </thead>
        <tbody>
            {% for p in data.Plan.objectList %}
                <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.plan_master }}</td>
                <td>{{ p.expiration_time }}</td>
                <td>{{ p.is_active }}</td>
                <td>{{ p.payment_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.Plan.description }}
    <span>
        <button data-page-name="Plan" data-page-num={{ data.Plan.prevPageNum }} class="update_display_button button" {% if data.Plan.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.Plan.pageNum }}</button>
        <button data-page-name="Plan" data-page-num={{ data.Plan.nextPageNum }} class="update_display_button button" {% if data.Plan.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.Addon %}
<div id="Addon">
    <h2>Addon</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>ADDON ID</th>
            <th>EXPIRATION TIME</th>
            <th>ADDON MASTER</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.Addon.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.addon_id }}</td>
                <td>{{ p.expiration_time }}</td>
                <td>{{ p.addon_master }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.Addon.description }}
    <span>
        <button data-page-name="Addon" data-page-num={{ data.Addon.prevPageNum }} class="update_display_button button" {% if data.Addon.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.Addon.pageNum }}</button>
        <button data-page-name="Addon" data-page-num={{ data.Addon.nextPageNum }} class="update_display_button button" {% if data.Addon.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.PurchaseHistory %}
<div id="PurchaseHistory">
    <h2>PurchaseHistory</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>PERIOD START</th>
            <th>PERIOD END</th>
            <th>PLAN</th>
            <th>ADDON IDS</th>
            <th>ADDITIONAL OPTIONS</th>
            <th>CARD LAST4</th>
            <th>PRICE</th>
            <th>METHOD</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.PurchaseHistory.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.period_start }}</td>
                <td>{{ p.period_end }}</td>
                <td>{{ p.plan }}</td>
                <td>{{ p.addon_ids }}</td>
                <td>{{ p.additional_options }}</td>
                <td>{{ p.card_last4 }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.method }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.PurchaseHistory.description }}
    <span>
        <button data-page-name="PurchaseHistory" data-page-num={{ data.PurchaseHistory.prevPageNum }} class="update_display_button button" {% if data.PurchaseHistory.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.PurchaseHistory.pageNum }}</button>
        <button data-page-name="PurchaseHistory" data-page-num={{ data.PurchaseHistory.nextPageNum }} class="update_display_button button" {% if data.PurchaseHistory.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.PlanPaymentError %}
<div id="PlanPaymentError">
    <h2>PlanPaymentError</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>PLAN</th>
        </thead>
        <tbody>
            {% for p in data.PlanPaymentError.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.plan }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.PlanPaymentError.description }}
    <span>
        <button data-page-name="PlanPaymentError" data-page-num={{ data.PlanPaymentError.prevPageNum }} class="update_display_button button" {% if data.PlanPaymentError.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.PlanPaymentError.pageNum }}</button>
        <button data-page-name="PlanPaymentError" data-page-num={{ data.PlanPaymentError.nextPageNum }} class="update_display_button button" {% if data.PlanPaymentError.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-3.6.0/dt-1.11.5/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-3.6.0/dt-1.11.5/datatables.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#select_company_form").submit(function(event) {
            event.preventDefault();
            var form = $(this);
            window.location.href = form.prop("action") + '?company_id=' + $('#company_id').val() + '&target_table=all';
        });
        $(".model_table").DataTable({
            order: [],
            scrollX: true,
            lengthChange: false,
            searching: false,
            ordering: false,
            info: false,
            paging: false
        });
        $(document).on('click','.update_display_button', function(e) {
            var dataset = e.target.dataset
            var query = '?company_id=' + $('#company_id').val() + '&target_table=' + dataset.pageName + '&target_table_page_num=' + dataset.pageNum
            event.preventDefault();
            $.ajax({
                url: "/admin/display_other_group_models/" + query,
                type: "GET",
                timeout: 30000
            })
            .done(function(data) {
                var targetID = '#' + dataset.pageName
                $(targetID).replaceWith($(data).find(targetID))
                $(targetID + " .model_table").DataTable({
                    order: [],
                    scrollX: true,
                    lengthChange: false,
                    searching: false,
                    ordering: false,
                    info: false,
                    paging: false
                });
            })
        });
    });
</script>

{% endblock %}
