{% extends "admin/base_site.html" %}

{% block content %}
<form id="select_company_form" action="/admin/display_organization_group_models/" method="GET">
    <label class="required" for="company_id">Company:</label>
    <select id="company_id" name="company_id" required>
        <option value="" {% if selected_id == "" %} selected {% endif %} >---------</option>
        {% for company in data.companies %}
            <option value={{ company.id }} {% if company.is_selected %} selected {% endif %}>{{ company.name }}</option>
        {% endfor %}
    </select>
    <button id="form_button" type="submit" class="button" >更新</button>
</form>

{% if selected_id != "" %}

{% if data.Company %}
<div id="Company">
    <h2>Company</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>NAME</th>
            <th>DOMAIN NAME</th>
            <th>ADDRESS</th>
            <th>BUILDING</th>
            <th>CAPITAL MAN YEN</th>
            <th>ESTABLISHMENT DATE</th>
            <th>HAS P MARK OR ISMS</th>
            <th>HAS INVOICE SYSTEM</th>
            <th>HAS HAKEN</th>
            <th>HAS DISTRIBUTION</th>
            <th>EMPLOYEE NUMBER</th>
            <th>CAPITAL MAN YEN REQUIRED FOR TRANSACTIONS</th>
            <th>ESTABLISHMENT YEAR</th>
            <th>P MARK OR ISMS</th>
            <th>INVOICE SYSTEM</th>
            <th>HAKEN</th>
            <th>DEACTIVATED_TIME</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.Company.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.domain_name }}</td>
                <td>{{ p.address }}</td>
                <td>{{ p.building }}</td>
                <td>{{ p.capital_man_yen }}</td>
                <td>{{ p.establishment_date }}</td>
                <td>{{ p.has_p_mark_or_isms }}</td>
                <td>{{ p.has_invoice_system }}</td>
                <td>{{ p.has_haken }}</td>
                <td>{{ p.has_distribution }}</td>
                <td>{{ p.employee_number }}</td>
                <td>{{ p.capital_man_yen_required_for_transactions }}</td>
                <td>{{ p.establishment_year }}</td>
                <td>{{ p.p_mark_or_isms }}</td>
                <td>{{ p.invoice_system }}</td>
                <td>{{ p.haken }}</td>
                <td>{{ p.deactivated_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if data.CompanyAttribute %}
<div id="CompanyAttribute">
    <h2>CompanyAttribute</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>USER REGISTRATION LIMIT</th>
            <th>TRIAL EXPIRATION DATE</th>
            <th>TENANT REGISTER CURRENT STEP</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.CompanyAttribute.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.user_registration_limit }}</td>
                <td>{{ p.trial_expiration_date }}</td>
                <td>{{ p.tenant_register_current_step }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.CompanyAttribute.description }}
    <span>
        <button data-page-name="CompanyAttribute" data-page-num={{ data.CompanyAttribute.prevPageNum }} class="update_display_button button" {% if data.CompanyAttribute.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.CompanyAttribute.pageNum }}</button>
        <button data-page-name="CompanyAttribute" data-page-num={{ data.CompanyAttribute.nextPageNum }} class="update_display_button button" {% if data.CompanyAttribute.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.Contact %}
<div id="Contact">
    <h2>Contact</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>LAST NAME</th>
            <th>FIRST NAME</th>
            <th>EMAIL</th>
            <th>POSITION</th>
            <th>DEPARTMENT</th>
            <th>ORGANIZATION</th>
            <th>ORGANIZATION BRANCH</th>
            <th>STAFF</th>
            <th>LAST VISIT</th>
            <th>TEL1</th>
            <th>TEL2</th>
            <th>TEL3</th>
            <th>OLD ID</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.Contact.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.last_name }}</td>
                <td>{{ p.first_name }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.position }}</td>
                <td>{{ p.department }}</td>
                <td>{{ p.organization }}</td>
                <td>{{ p.organization_branch }}</td>
                <td>{{ p.staff }}</td>
                <td>{{ p.last_visit }}</td>
                <td>{{ p.tel1 }}</td>
                <td>{{ p.tel2 }}</td>
                <td>{{ p.tel3 }}</td>
                <td>{{ p.old_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.Contact.description }}
    <span>
        <button data-page-name="Contact" data-page-num={{ data.Contact.prevPageNum }} class="update_display_button button" {% if data.Contact.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.Contact.pageNum }}</button>
        <button data-page-name="Contact" data-page-num={{ data.Contact.nextPageNum }} class="update_display_button button" {% if data.Contact.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.ContactCategory %}
<div id="ContactCategory">
    <h2>ContactCategory</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>CATEGORY</th>
            <th>CONTACT</th>
            <th>USER</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ContactCategory.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.category }}</td>
                <td>{{ p.contact }}</td>
                <td>{{ p.user }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ContactCategory.description }} 
    <span>
        <button data-page-name="ContactCategory" data-page-num={{ data.ContactCategory.prevPageNum }} class="update_display_button button" {% if data.ContactCategory.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ContactCategory.pageNum }}</button>
        <button data-page-name="ContactCategory" data-page-num={{ data.ContactCategory.nextPageNum }} class="update_display_button button" {% if data.ContactCategory.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.ContactCC %}
<div id="ContactCC">
    <h2>ContactCC</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>EMAIL</th>
            <th>CONTACT</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ContactCC.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.contact }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ContactCC.description }}
    <span>
        <button data-page-name="ContactCC" data-page-num={{ data.ContactCC.prevPageNum }} class="update_display_button button" {% if data.ContactCC.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ContactCC.pageNum }}</button>
        <button data-page-name="ContactCC" data-page-num={{ data.ContactCC.nextPageNum }} class="update_display_button button" {% if data.ContactCC.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.ContactComment %}
<div id="ContactComment">
    <h2>ContactComment</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>CONTACT</th>
            <th>CONTENT</th>
            <th>IS IMPORTANT</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ContactComment.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.contact }}</td>
                <td>{{ p.content }}</td>
                <td>{{ p.is_important }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ContactComment.description }}
    <span>
        <button data-page-name="ContactComment" data-page-num={{ data.ContactComment.prevPageNum }} class="update_display_button button" {% if data.ContactComment.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ContactComment.pageNum }}</button>
        <button data-page-name="ContactComment" data-page-num={{ data.ContactComment.nextPageNum }} class="update_display_button button" {% if data.ContactComment.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.ContactJobSkillPreference %}
<div id="ContactJobSkillPreference">
    <h2>ContactJobSkillPreference</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>CONTACT</th>
            <th>SKILL PREFERENCE</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ContactJobSkillPreference.objectList %}
                <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.contact }}</td>
                <td>{{ p.skill_preference }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ContactJobSkillPreference.description }}
    <span>
        <button data-page-name="ContactJobSkillPreference" data-page-num={{ data.ContactJobSkillPreference.prevPageNum }} class="update_display_button button" {% if data.ContactJobSkillPreference.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ContactJobSkillPreference.pageNum }}</button>
        <button data-page-name="ContactJobSkillPreference" data-page-num={{ data.ContactJobSkillPreference.nextPageNum }} class="update_display_button button" {% if data.ContactJobSkillPreference.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.ContactJobTypePreference %}
<div id="ContactJobTypePreference">
    <h2>ContactJobTypePreference</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>CONTACT</th>
            <th>TYPE PREFERENCE</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ContactJobTypePreference.objectList %}
                <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.contact }}</td>
                <td>{{ p.type_preference }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ContactJobTypePreference.description }}
    <span>
        <button data-page-name="ContactJobTypePreference" data-page-num={{ data.ContactJobTypePreference.prevPageNum }} class="update_display_button button" {% if data.ContactJobTypePreference.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ContactJobTypePreference.pageNum }}</button>
        <button data-page-name="ContactJobTypePreference" data-page-num={{ data.ContactJobTypePreference.nextPageNum }} class="update_display_button button" {% if data.ContactJobTypePreference.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.ContactPersonnelSkillPreference %}
<div id="ContactPersonnelSkillPreference">
    <h2>ContactPersonnelSkillPreference</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>CONTACT</th>
            <th>SKILL PREFERENCE</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ContactPersonnelSkillPreference.objectList %}
                <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.contact }}</td>
                <td>{{ p.skill_preference }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ContactPersonnelSkillPreference.description }}
    <span>
        <button data-page-name="ContactPersonnelSkillPreference" data-page-num={{ data.ContactPersonnelSkillPreference.prevPageNum }} class="update_display_button button" {% if data.ContactPersonnelSkillPreference.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ContactPersonnelSkillPreference.pageNum }}</button>
        <button data-page-name="ContactPersonnelSkillPreference" data-page-num={{ data.ContactPersonnelSkillPreference.nextPageNum }} class="update_display_button button" {% if data.ContactPersonnelSkillPreference.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.ContactPersonnelTypePreference %}
<div id="ContactPersonnelTypePreference">
    <h2>ContactPersonnelTypePreference</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>CONTACT</th>
            <th>TYPE PREFERENCE</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ContactPersonnelTypePreference.objectList %}
                <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.contact }}</td>
                <td>{{ p.type_preference }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ContactPersonnelTypePreference.description }}
    <span>
        <button data-page-name="ContactPersonnelTypePreference" data-page-num={{ data.ContactPersonnelTypePreference.prevPageNum }} class="update_display_button button" {% if data.ContactPersonnelTypePreference.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ContactPersonnelTypePreference.pageNum }}</button>
        <button data-page-name="ContactPersonnelTypePreference" data-page-num={{ data.ContactPersonnelTypePreference.nextPageNum }} class="update_display_button button" {% if data.ContactPersonnelTypePreference.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.ContactPreference %}
<div id="ContactPreference">
    <h2>ContactPreference</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>CONTACT</th>
            <th>w_l_kanto</th>
            <th>w_l_kansai</th>
            <th>w_l_hokkaido</th>
            <th>w_l_touhoku</th>
            <th>w_l_chubu</th>
            <th>w_l_kyushu</th>
            <th>w_l_other</th>
            <th>w_l_chugoku</th>
            <th>w_l_shikoku</th>
            <th>w_l_toukai</th>
            <th>job_koyou_proper</th>
            <th>job_koyou_free</th>
            <th>job_syouryu</th>
            <th>personnel_syouryu</th>
            <th>personnel_country_japan</th>
            <th>personnel_country_other</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ContactPreference.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.contact }}</td>
                <td>{{ p.wants_location_kanto_japan }}</td>
                <td>{{ p.wants_location_kansai_japan }}</td>
                <td>{{ p.wants_location_hokkaido_japan }}</td>
                <td>{{ p.wants_location_touhoku_japan }}</td>
                <td>{{ p.wants_location_chubu_japan }}</td>
                <td>{{ p.wants_location_kyushu_japan }}</td>
                <td>{{ p.wants_location_other_japan }}</td>
                <td>{{ p.wants_location_chugoku_japan }}</td>
                <td>{{ p.wants_location_shikoku_japan }}</td>
                <td>{{ p.wants_location_toukai_japan }}</td>
                <td>{{ p.job_koyou_proper }}</td>
                <td>{{ p.job_koyou_free }}</td>
                <td>{{ p.job_syouryu }}</td>
                <td>{{ p.personnel_syouryu }}</td>
                <td>{{ p.personnel_country_japan }}</td>
                <td>{{ p.personnel_country_other }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ContactPreference.description }}
    <span>
        <button data-page-name="ContactPreference" data-page-num={{ data.ContactPreference.prevPageNum }} class="update_display_button button" {% if data.ContactPreference.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ContactPreference.pageNum }}</button>
        <button data-page-name="ContactPreference" data-page-num={{ data.ContactPreference.nextPageNum }} class="update_display_button button" {% if data.ContactPreference.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.ContactScore %}
<div id="ContactScore">
    <h2>ContactScore</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>SCORE</th>
            <th>CONTACT</th>
            <th>USER</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ContactScore.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.score }}</td>
                <td>{{ p.contact }}</td>
                <td>{{ p.user }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ContactScore.description }}
    <span>
        <button data-page-name="ContactScore" data-page-num={{ data.ContactScore.prevPageNum }} class="update_display_button button" {% if data.ContactScore.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ContactScore.pageNum }}</button>
        <button data-page-name="ContactScore" data-page-num={{ data.ContactScore.nextPageNum }} class="update_display_button button" {% if data.ContactScore.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.Tag %}
<div id="Tag">
    <h2>Tag</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>VALUE</th>
            <th>INTERNAL VALUE</th>
        </thead>
        <tbody>
            {% for p in data.Tag.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.value }}</td>
                <td>{{ p.internal_value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.Tag.description }}
    <span>
        <button data-page-name="Tag" data-page-num={{ data.Tag.prevPageNum }} class="update_display_button button" {% if data.Tag.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.Tag.pageNum }}</button>
        <button data-page-name="Tag" data-page-num={{ data.Tag.nextPageNum }} class="update_display_button button" {% if data.Tag.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.ContactTagAssignment %}
<div id="ContactTagAssignment">
    <h2>ContactTagAssignment</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>CONTACT</th>
            <th>TAG</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ContactTagAssignment.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.contact }}</td>
                <td>{{ p.tag }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ContactTagAssignment.description }}
    <span>
        <button data-page-name="ContactTagAssignment" data-page-num={{ data.ContactTagAssignment.prevPageNum }} class="update_display_button button" {% if data.ContactTagAssignment.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ContactTagAssignment.pageNum }}</button>
        <button data-page-name="ContactTagAssignment" data-page-num={{ data.ContactTagAssignment.nextPageNum }} class="update_display_button button" {% if data.ContactTagAssignment.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.Organization %}
<div id="Organization">
    <h2>Organization</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>CORPORATE NUMBER</th>
            <th>NAME</th>
            <th>CATEGORY</th>
            <th>EMPLOYEE NUMBER</th>
            <th>CONTRACT</th>
            <th>COUNTRY</th>
            <th>ADDRESS</th>
            <th>BUILDING</th>
            <th>DOMAIN NAME</th>
            <th>CAPITAL MAN YEN</th>
            <th>ESTABLISHMENT DATE</th>
            <th>SETTLEMENT MONTH</th>
            <th>HAS P MARK OR ISMS</th>
            <th>HAS INVOICE SYSTEM</th>
            <th>HAS HAKEN</th>
            <th>HAS DISTRIBUTION</th>
            <th>SCORE</th>
            <th>TEL1</th>
            <th>TEL2</th>
            <th>TEL3</th>
            <th>FAX1</th>
            <th>FAX2</th>
            <th>FAX3</th>
            <th>CAPITAL MAN YEN REQUIRED FOR TRANSACTIONS</th>
            <th>ESTABLISHMENT YEAR</th>
            <th>IS BLACKLISTED</th>
            <th>OLD ID</th>
            <th>P MARK OR ISMS</th>
            <th>INVOICE SYSTEM</th>
            <th>HAKEN</th>
            <th>ORGANIZATION COUNTRY</th>
            <th>ORGANIZATION EMPLOYEE NUMBER</th>
            <th>ORGANIZATION CATEGORY</th>

            </tr>
        </thead>
        <tbody>
            {% for p in data.Organization.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.corporate_number }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.category }}</td>
                <td>{{ p.employee_number }}</td>
                <td>{{ p.contract }}</td>
                <td>{{ p.country }}</td>
                <td>{{ p.address }}</td>
                <td>{{ p.building }}</td>
                <td>{{ p.domain_name }}</td>
                <td>{{ p.capital_man_yen }}</td>
                <td>{{ p.establishment_date }}</td>
                <td>{{ p.settlement_month }}</td>
                <td>{{ p.has_p_mark_or_isms }}</td>
                <td>{{ p.has_invoice_system }}</td>
                <td>{{ p.has_haken }}</td>
                <td>{{ p.has_distribution }}</td>
                <td>{{ p.score }}</td>
                <td>{{ p.tel1 }}</td>
                <td>{{ p.tel2 }}</td>
                <td>{{ p.tel3 }}</td>
                <td>{{ p.fax1 }}</td>
                <td>{{ p.fax2 }}</td>
                <td>{{ p.fax3 }}</td>
                <td>{{ p.capital_man_yen_required_for_transactions }}</td>
                <td>{{ p.establishment_year }}</td>
                <td>{{ p.is_blacklisted }}</td>
                <td>{{ p.old_id }}</td>
                <td>{{ p.p_mark_or_isms }}</td>
                <td>{{ p.invoice_system }}</td>
                <td>{{ p.haken }}</td>
                <td>{{ p.organization_country }}</td>
                <td>{{ p.organization_employee_number }}</td>
                <td>{{ p.organization_category }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.Organization.description }}
    <span>
        <button data-page-name="Organization" data-page-num={{ data.Organization.prevPageNum }} class="update_display_button button" {% if data.Organization.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.Organization.pageNum }}</button>
        <button data-page-name="Organization" data-page-num={{ data.Organization.nextPageNum }} class="update_display_button button" {% if data.Organization.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.OrganizationBranch %}
<div id="OrganizationBranch">
    <h2>OrganizationBranch</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>ORGANIZATION</th>
            <th>NAME</th>
            <th>ADDRESS</th>
            <th>BUILDING</th>
            <th>TEL1</th>
            <th>TEL2</th>
            <th>TEL3</th>
            <th>FAX1</th>
            <th>FAX2</th>
            <th>FAX3</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.OrganizationBranch.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.organization }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.address }}</td>
                <td>{{ p.building }}</td>
                <td>{{ p.tel1 }}</td>
                <td>{{ p.tel2 }}</td>
                <td>{{ p.tel3 }}</td>
                <td>{{ p.fax1 }}</td>
                <td>{{ p.fax2 }}</td>
                <td>{{ p.fax3 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.OrganizationBranch.description }}
    <span>
        <button data-page-name="OrganizationBranch" data-page-num={{ data.OrganizationBranch.prevPageNum }} class="update_display_button button" {% if data.OrganizationBranch.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.OrganizationBranch.pageNum }}</button>
        <button data-page-name="OrganizationBranch" data-page-num={{ data.OrganizationBranch.nextPageNum }} class="update_display_button button" {% if data.OrganizationBranch.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.OrganizationComment %}
<div id="OrganizationComment">
    <h2>OrganizationComment</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>ORGANIZATION</th>
            <th>CONTENT</th>
            <th>IS IMPORTANT</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.OrganizationComment.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.organization }}</td>
                <td>{{ p.content }}</td>
                <td>{{ p.is_important }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.OrganizationComment.description }}
    <span>
        <button data-page-name="OrganizationComment" data-page-num={{ data.OrganizationComment.prevPageNum }} class="update_display_button button" {% if data.OrganizationComment.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.OrganizationComment.pageNum }}</button>
        <button data-page-name="OrganizationComment" data-page-num={{ data.OrganizationComment.nextPageNum }} class="update_display_button button" {% if data.OrganizationComment.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.ExceptionalOrganization %}
<div id="ExceptionalOrganization">
    <h2>ExceptionalOrganization</h2>
    <table id="hoge" class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>ORGANIZATION</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ExceptionalOrganization.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.organization }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ExceptionalOrganization.description }}
    <span>
        <button data-page-name="ExceptionalOrganization" data-page-num={{ data.ExceptionalOrganization.prevPageNum }} class="update_display_button button" {% if data.ExceptionalOrganization.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ExceptionalOrganization.pageNum }}</button>
        <button data-page-name="ExceptionalOrganization" data-page-num={{ data.ExceptionalOrganization.nextPageNum }} class="update_display_button button" {% if data.ExceptionalOrganization.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-3.6.0/dt-1.11.5/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-3.6.0/dt-1.11.5/datatables.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#select_company_form").submit(function(event) {
            event.preventDefault();
            var form = $(this);
            window.location.href = form.prop("action") + '?company_id=' + $('#company_id').val() + '&target_table=all';
        });
        $(".model_table").DataTable({
            order: [],
            scrollX: true,
            lengthChange: false,
            searching: false,
            ordering: false,
            info: false,
            paging: false
        });
        $(document).on('click','.update_display_button', function(e) {
            var dataset = e.target.dataset
            var query = '?company_id=' + $('#company_id').val() + '&target_table=' + dataset.pageName + '&target_table_page_num=' + dataset.pageNum
            event.preventDefault();
            $.ajax({
                url: "/admin/display_organization_group_models/" + query,
                type: "GET",
                timeout: 30000
            })
            .done(function(data) {
                var targetID = '#' + dataset.pageName
                $(targetID).replaceWith($(data).find(targetID))
                $(targetID + " .model_table").DataTable({
                    order: [],
                    scrollX: true,
                    lengthChange: false,
                    searching: false,
                    ordering: false,
                    info: false,
                    paging: false
                });
            })
        });
    });
</script>

{% endblock %}
