{% extends "admin/base_site.html" %}

{% block content %}
<form id="select_company_form" action="/admin/display_scheduled_email_group_models/" method="GET">
    <label class="required" for="company_id">Company:</label>
    <select id="company_id" name="company_id" required>
        <option value="" {% if selected_id == "" %} selected {% endif %} >---------</option>
        {% for company in data.companies %}
            <option value={{ company.id }} {% if company.is_selected %} selected {% endif %}>{{ company.name }}</option>
        {% endfor %}
    </select>
    <button id="form_button" type="submit" class="button" >更新</button>
</form>

{% if selected_id != "" %}

{% if data.Company %}
<div id="Company">
    <h2>Company</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>NAME</th>
            <th>DOMAIN NAME</th>
            <th>ADDRESS</th>
            <th>BUILDING</th>
            <th>CAPITAL MAN YEN</th>
            <th>ESTABLISHMENT DATE</th>
            <th>HAS P MARK OR ISMS</th>
            <th>HAS INVOICE SYSTEM</th>
            <th>HAS HAKEN</th>
            <th>HAS DISTRIBUTION</th>
            <th>EMPLOYEE NUMBER</th>
            <th>CAPITAL MAN YEN REQUIRED FOR TRANSACTIONS</th>
            <th>ESTABLISHMENT YEAR</th>
            <th>P MARK OR ISMS</th>
            <th>INVOICE SYSTEM</th>
            <th>HAKEN</th>
            <th>DEACTIVATED_TIME</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.Company.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.domain_name }}</td>
                <td>{{ p.address }}</td>
                <td>{{ p.building }}</td>
                <td>{{ p.capital_man_yen }}</td>
                <td>{{ p.establishment_date }}</td>
                <td>{{ p.has_p_mark_or_isms }}</td>
                <td>{{ p.has_invoice_system }}</td>
                <td>{{ p.has_haken }}</td>
                <td>{{ p.has_distribution }}</td>
                <td>{{ p.employee_number }}</td>
                <td>{{ p.capital_man_yen_required_for_transactions }}</td>
                <td>{{ p.establishment_year }}</td>
                <td>{{ p.p_mark_or_isms }}</td>
                <td>{{ p.invoice_system }}</td>
                <td>{{ p.haken }}</td>
                <td>{{ p.deactivated_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if data.ScheduledEmail %}
<div id="ScheduledEmail">
    <h2>ScheduledEmail</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>SENDER</th>
            <th>SUBJECT</th>
            <th>STATUS</th>
            <th>DATE TO SEND</th>
            <th>SEND COPY TO SENDER</th>
            <th>SENT DATE</th>
            <th>SEND TOTAL COUNT</th>
            <th>SEND SUCCESS COUNT</th>
            <th>SEND ERROR COUNT</th>
            <th>SEND TYPE</th>
            <th>TEXT FORMAT</th>
            <th>OPEN COUNT</th>
            <th>SEND COPY TO SHARE</th>
            <th>SCHEDULED EMAIL STATUS</th>
            <th>SCHEDULED EMAIL SEND TYPE</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ScheduledEmail.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.sender }}</td>
                <td>{{ p.subject }}</td>
                <td>{{ p.status }}</td>
                <td>{{ p.date_to_send }}</td>
                <td>{{ p.send_copy_to_sender }}</td>
                <td>{{ p.sent_date }}</td>
                <td>{{ p.send_total_count }}</td>
                <td>{{ p.send_success_count }}</td>
                <td>{{ p.send_error_count }}</td>
                <td>{{ p.send_type }}</td>
                <td>{{ p.text_format }}</td>
                <td>{{ p.open_count }}</td>
                <td>{{ p.send_copy_to_share }}</td>
                <td>{{ p.scheduled_email_status }}</td>
                <td>{{ p.scheduled_email_send_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ScheduledEmail.description }} 
    <span>
        <button data-page-name="ScheduledEmail" data-page-num={{ data.ScheduledEmail.prevPageNum }} class="update_display_button button" {% if data.ScheduledEmail.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ScheduledEmail.pageNum }}</button>
        <button data-page-name="ScheduledEmail" data-page-num={{ data.ScheduledEmail.nextPageNum }} class="update_display_button button" {% if data.ScheduledEmail.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.ScheduledEmailAttachment %}
<div id="ScheduledEmailAttachment">
    <h2>ScheduledEmailAttachment</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>EMAIL</th>
            <th>NAME</th>
            <th>FILE</th>
            <th>SIZE</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ScheduledEmailAttachment.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.file }}</td>
                <td>{{ p.size }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ScheduledEmailAttachment.description }}
    <span>
        <button data-page-name="ScheduledEmailAttachment" data-page-num={{ data.ScheduledEmailAttachment.prevPageNum }} class="update_display_button button" {% if data.ScheduledEmailAttachment.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ScheduledEmailAttachment.pageNum }}</button>
        <button data-page-name="ScheduledEmailAttachment" data-page-num={{ data.ScheduledEmailAttachment.nextPageNum }} class="update_display_button button" {% if data.ScheduledEmailAttachment.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.ScheduledEmailTarget %}
<div id="ScheduledEmailTarget">
    <h2>ScheduledEmailTarget</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>EMAIL</th>
            <th>CONTACT</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.ScheduledEmailTarget.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.contact }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.ScheduledEmailTarget.description }} 
    <span>
        <button data-page-name="ScheduledEmailTarget" data-page-num={{ data.ScheduledEmailTarget.prevPageNum }} class="update_display_button button" {% if data.ScheduledEmailTarget.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.ScheduledEmailTarget.pageNum }}</button>
        <button data-page-name="ScheduledEmailTarget" data-page-num={{ data.ScheduledEmailTarget.nextPageNum }} class="update_display_button button" {% if data.ScheduledEmailTarget.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-3.6.0/dt-1.11.5/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-3.6.0/dt-1.11.5/datatables.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#select_company_form").submit(function(event) {
            event.preventDefault();
            var form = $(this);
            window.location.href = form.prop("action") + '?company_id=' + $('#company_id').val() + '&target_table=all';
        });
        $(".model_table").DataTable({
            order: [],
            scrollX: true,
            lengthChange: false,
            searching: false,
            ordering: false,
            info: false,
            paging: false
        });
        $(document).on('click','.update_display_button', function(e) {
            var dataset = e.target.dataset
            var query = '?company_id=' + $('#company_id').val() + '&target_table=' + dataset.pageName + '&target_table_page_num=' + dataset.pageNum
            event.preventDefault();
            $.ajax({
                url: "/admin/display_scheduled_email_group_models/" + query,
                type: "GET",
                timeout: 30000
            })
            .done(function(data) {
                var targetID = '#' + dataset.pageName
                $(targetID).replaceWith($(data).find(targetID))
                $(targetID + " .model_table").DataTable({
                    order: [],
                    scrollX: true,
                    lengthChange: false,
                    searching: false,
                    ordering: false,
                    info: false,
                    paging: false
                });
            })
        });
    });
</script>

{% endblock %}
