.description {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.term {
  text-align: left;
}

.detail {
  margin: 0 16px;
  text-align: left;
}
