:global{
    .validate-textarea .ant-form-item-explain-connected{
        display: none !important;
        margin-bottom: 0px !important;
    }
    .validate-textarea.ant-form-item{
        margin-bottom: 0px !important;
    }
    .validate-textarea-error{
        display: flex;
        justify-content: space-between;
    }
    .field{
        max-width: 475px;
        margin: 8px 0;
    }
}
