{{ display_name }} 様<br>
<br>
コモレビをご利用いただきまして、誠にありがとうございます。<br>
<br>
無料トライアルが開始されましたのでご連絡いたします。<br>
無料トライアルは、{{ expiration_time}} までご利用いただけます。<br>
ご不明な点がありましたら、チャットボットよりお問合せください。<br>
<br>
<a href="https://intercom.help/cmrb/ja/articles/5884891-%E7%84%A1%E6%96%99%E3%83%88%E3%83%A9%E3%82%A4%E3%82%A2%E3%83%AB%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6" > ヘルプセンター</a><br>
<br>
<br>
-------------------------------------------------<br>
本メールはコモレビをご利用いただいているお客様に配信しています。<br>
送信専用アドレスから配信されているため、ご返信いただいてもご回答いたしかねます。<br>
あらかじめご了承ください。<br>
なお、本メールに心当たりが無い場合は、<br>
お手数ですが本メールを破棄していただきますよう何卒よろしくお願い申し上げます。<br>
<br>
SES事業者によるSES事業者のための営業支援ツール　コモレビ<br>
<a href="https://intercom.help/cmrb/ja/" > ヘルプセンター </a><br>
<br>
運営会社：株式会社ヘルスベイシス<br>
