{{ sender.last_name }} {{ sender.first_name }} 様よりコモレビ に招待されました。 <br>
以下のリンクよりユーザー登録をすることでコモレビに参加することができます。<br>
<br>
<a href="{{ protocol }}://{{ domain }}/users/register/{{ token }}" > コモレビに参加する </a><br>
<br>
なお、このリンクは1週間有効です。<br>
有効期限を過ぎてしまった場合は、招待された方（ {{ sender.email }} ）までお問い合わせください。<br>
<br>
<br>
-------------------------------------------------<br>
本メールは送信専用アドレスから配信されているため、<br>
ご返信いただいてもご回答いたしかねます。<br>
あらかじめご了承ください。<br>
なお、本メールに心当たりが無い場合は、<br>
お手数ですが本メールを破棄していただきますよう何卒よろしくお願い申し上げます。<br>
<br>
SES事業者によるSES事業者のための営業支援ツール　コモレビ<br>
<a href="https://intercom.help/cmrb/ja/" > ヘルプセンター </a><br>
<br>
運営会社：株式会社ヘルスベイシス<br>
