.container {
  margin: 16px auto;
  text-align: left;
}

.field {
  max-width: 800px;
  margin: 8px 0;
}

.button {
  width: 30%;
  margin: auto;
}

.alert {
  margin-top: 16px;
  margin-bottom: 16px;
}

.phonenumberDash {
  display: inline-block;
  width: 5%;
  text-align: center;
}

.nameSeparator {
  display: inline-block;
  width: 4%;
}
