.container {
  margin: 16px auto;
  text-align: left;
  width: 100%;
}

.row {
  padding-right: 10%;
}

.field {
  margin: 24px auto;
}

.contentField {
  margin: 24px auto 2px;
}

.fieldTemplate {
  div:nth-child(1) {
    label {
      visibility: hidden;
    }
  }
}

.controlButton {
  margin-right: 5px;
}
