.container {
    width: 100%;
    text-align: left;
}

.userInput {
    width: 100%;
}

.tooltip {
    margin-left: 5px;
}

.infoIcon {
    align-self: center;
}

.switchLabel {
    display: inline-block;
    align-self: center;
}
