.container {
    margin: auto;
}

.pageHeader {
    padding: 16px 0 0 0;
    text-align: left;
}

.pageBody {
    padding: 16px 0 0 0;
}

.buttonWrapper {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

.button {
    margin: 16px 32px;
    width: 128px;
}

.registerPageButtonWrapper {
    text-align: left;
    margin: 16px auto;
}

.downloadButtonWrapper {
    text-align: right;
}

.search_template {
    margin: 8px auto;
    text-align: left;
}

.tableControlButton {
    margin-right: 5px;
}

.tableSettingButton {
    margin-left: 1%;
}
