.box {
    height: 150px;
    background-image: repeating-linear-gradient(
            -13deg,
            #7a7a7a,
            #7a7a7a 3px,
            transparent 3px,
            transparent 8px,
            #7a7a7a 8px
        ),
        repeating-linear-gradient(
            77deg,
            #7a7a7a,
            #7a7a7a 3px,
            transparent 3px,
            transparent 8px,
            #7a7a7a 8px
        ),
        repeating-linear-gradient(
            167deg,
            #7a7a7a,
            #7a7a7a 3px,
            transparent 3px,
            transparent 8px,
            #7a7a7a 8px
        ),
        repeating-linear-gradient(
            257deg,
            #7a7a7a,
            #7a7a7a 3px,
            transparent 3px,
            transparent 8px,
            #7a7a7a 8px
        );
    background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}
