.paginator {
    margin: 16px auto;
}

.tableWrapper {
    text-align: left;
}

.table {
    margin: 16px auto;
}

.ignored {
    color: silver;
}

.genericTable {
    word-break: break-all;
}

.newLine {
    white-space: pre-wrap;
}

.container {
    margin-top: 4%;
}

.tableSpacer {
    margin: 7px 0;
}

.tooltipCopy {
    &:hover {
        span {
            display: block;
        }
    }
}
  