.container {
    max-width: 600px;
}

.field {
    width: 100%;
    text-align: left;
    margin: 8px 0;
}

.alert {
    margin-top: 16px;
    margin-bottom: 16px;
}

.buttons {
    text-align: start;
}

.certificateSelection {
    margin-left: 5%;
}

.certificateField {
    margin-bottom: 0;
}
