.baseCard {
    background: #fff;
    margin-bottom: 10px;
    :global(.ant-card-body) {
        padding: 0px;
    }
}

.titleBoard {
  font-size: 16px;
  font-weight: 550;
}

.image {
    width: 100%;
    height: 146px;
    object-fit: cover;
}

.contentBoard {
    padding:18px,
}

.textContent {
    display: flex;
    justify-content: start;
    padding: 10px 0 0 0;
    font-weight: 550;
}

.tagContent {
    margin-bottom: 7px;
}

.cursor {
    cursor: pointer;
}

.assignUsers {
    margin-top: 8px;
    :global(.ant-avatar) {
            margin-left: 0 !important;
            margin-right: 5px;
        }
}

.styleMenu {
    width: 230px;
    padding-bottom: 10px;
}

.skillsBoard {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}

.customDatePicker {
    font-size: 0;
    height: 16px;
    width: 76px;
    input {
      font-size: 9px;
      text-align: center;
    }
}

.padding3px {
  padding: 0 3px;
}

.datePickerCard {
  margin-top: 8px;
}

.dateSuccess {
  font-size: 0;
  height: 16px;
  width: 76px;
  input {
    color: white;
    font-size: 9px;
    text-align: center;
  }
  border: 1px solid #A7CF69;
  background-color: #A7CF69;
}

.dateWarning {
  font-size: 0;
  height: 16px;
  width: 76px;
  input {
    color: white;
    font-size: 9px;
    text-align: center;
  }
  border: 1px solid #FFAB4A;
  background-color: #FFAB4A;
}

.dateError {
  font-size: 0;
  height: 16px;
  width: 76px;
  input {
    color: white;
    font-size: 9px;
    text-align: center;
  }
  border: 1px solid #EB5A46;
  background-color: #EB5A46;
}

.dateInfo {
  font-size: 0;
  height: 16px;
  width: 76px;
  input {
    font-size: 9px;
    text-align: center;
  }
}

.messageExpired {
  color: #EB5A46;
}
