{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv='Cache-Control' content='no-cache'>
        <meta http-equiv="Pragma" content="no-cache">
        <title>コモレビ</title>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5HZQ3JS');</script>
        <!-- End Google Tag Manager -->
        <script src="https://js.pay.jp/v2/pay.js"></script>
        <style type="text/css">
            .intercom-namespace .intercom-pf9rf9 {
                z-index: 999 !important;
                position: fixed;
                bottom: 20px;
                right: 20px;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: rgb(138, 171, 85);
                box-shadow: rgb(0 0 0 / 6%) 0px 1px 6px 0px,
                    rgb(0 0 0 / 16%) 0px 2px 32px 0px;
            }
            .intercom-lightweight-app {
                position: fixed;
                z-index: 999 !important;
                width: 0;
                height: 0;
                font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica,
                    Arial, sans-serif;
            }
            .tableRowDisableHover td {
                background: unset !important;
            }
            .tableRowDisableHover .ant-table-cell::before {
                background: unset !important;
            }
            .ant-select-selector {
                height: 100% !important;
            }
            .react-kanban-card-skeleton {
                box-sizing: border-box;
                max-width: 250px;
                min-width: 250px;
            }
            .react-kanban-card {
                @extend .react-kanban-card-skeleton;
                border-radius: 3px;
                background-color: #fff;
                padding: 10px;
                margin-bottom: 7px;
            }
            .react-kanban-card--dragging {
                box-shadow: 2px 2px grey;
            }
            .react-kanban-card__description {
                padding-top: 10px;
            }
            .react-kanban-card__title {
                border-bottom: 1px solid #eee;
                padding-bottom: 5px;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
            }
            .react-kanban-column {
                padding: 15px;
                border-radius: 2px;
                background-color: #eee;
                margin: 5px;
                input {
                  &:focus {
                    outline: none;
                  }
                }
            }
        </style>
    </head>
    <body>
        <section class="section">
            <div class="container">
                <div id="app"><!-- React App--></div>
            </div>
        </section>
        <script>
            // NOTE(joshua-hashimoto): intercomの呼び出し
            (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/j539oghr';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
        </script>
        <script src="{% static "main.js" %}"></script>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HZQ3JS"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    </body>
</html>
