.container {
    margin: 16px auto;
    text-align: center;
    border: thin solid darkgray;
}

.searchButton {
    margin: 8px auto;
    text-align: left;
}

.spacer {
    margin-right: 10%;
}

.verticalSpacer {
    margin: 8px 0;
}

.includeContainer {
    margin-top: 7%;
}
