.container {
  padding: 10px;
}

.menuWrapper {
  width: 380px;
  background-color: white;
  top: -100px;
}

.sortMenuWrapper {
  width: 380px;
  top: 50px;
  background-color: white;
}

.headerMenu {
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #f5f5f5;
}

.menu {
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0px 0px 0px 0px rgba(0, 0, 0, .05) !important;
}