@import "../../../../stylesheets/constants";

.container {
    margin: 16px auto;
    text-align: left;
}

.card {
    width: 80%;
    margin: 32px auto;
}

.field {
    max-width: 800px;
    margin: 8px 0;
    @include mobile-devices {
        margin: 8px auto;
        width: 100%;
    }
}

.button {
    @include mobile-devices {
        margin: 0 16px 0 0;
        width: 96px;
    }
}

.relatedObjectsWrapper {
    text-align: center;
    margin: 0 64px;
    @include mobile-devices {
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}

.relatedObject {
    margin: 8px 64px;
    @include mobile-devices {
        margin: auto;
    }
}

.alert {
    text-align: center;
    margin: 32px auto;
}

.phonenumberDash {
    display: inline-block;
    width: 5%;
    text-align: center;
}

.nameSeparator {
    display: inline-block;
    width: 4%;
}

.row {
    width: 80%;
}
